<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>	
        <rewrite>
			<rules>
                <rule name="Imported Rule Brain">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Community 1">
                    <match url="community/photos" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=photos" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Community 2">
                    <match url="community/rooms" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=rooms" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Community 3">
                    <match url="community/fansites" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=fansites" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Community 4">
                    <match url="community/staffs" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=staffs" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Community 5" stopProcessing="true">
                    <match url="community/article/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=article&amp;id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Playing Habbo 1" stopProcessing="true">
                    <match url="playing-habbo/what-is-habbo" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=what-is-habbo" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Playing Habbo 2" stopProcessing="true">
                    <match url="playing-habbo/how-to-play" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=how-to-play" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Playing Habbo 3" stopProcessing="true">
                    <match url="playing-habbo/habbo-way" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=habbo-way" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Playing Habbo 4" stopProcessing="true">
                    <match url="playing-habbo/safety" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=safety" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Profile" stopProcessing="true">
                    <match url="profile/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=profile&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Settings 1" stopProcessing="true">
                    <match url="settings/password" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=password" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Settings 2" stopProcessing="true">
                    <match url="settings/mail" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=mail" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Settings 3" stopProcessing="true">
                    <match url="settings/avatars" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=avatars" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Settings 4" stopProcessing="true">
                    <match url="settings/wardrobe" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=wardrobe" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule NFT" stopProcessing="true">
                    <match url="nft/avatars" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=nft" appendQueryString="false" />
				</rule>
				<rule name="group-badge">
					<match url="^swf/c_images/Badgeparts/([^/]+)$" ignoreCase="false" />
					<action type="Rewrite" url="/swf/c_images/badge.php?badge={R:1}" appendQueryString="false" />
				</rule>
				 <rule name="Imported Rule HK">
                    <match url="adminpan/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="adminpan/index.php?url={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Users" stopProcessing="true">
                    <match url="adminpan/gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Sollielook" stopProcessing="true">
                    <match url="adminpan/sollielook/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;look={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteNews" stopProcessing="true">
                    <match url="adminpan/news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteSollie" stopProcessing="true">
                    <match url="adminpan/sollielook/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK EditNews" stopProcessing="true">
                    <match url="adminpan/news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteBan" stopProcessing="true">
                    <match url="adminpan/bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK GiveUODW" stopProcessing="true">
                    <match url="adminpan/giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Ref" stopProcessing="true">
                    <match url="register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Pas" stopProcessing="true">
                    <match url="newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
				</rule>
                <rule name="imager" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="/?figure=(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                </rule>		
			</rules>
		</rewrite>
        <staticContent>
            <mimeMap fileExtension=".nitro" mimeType="application/octet-stream" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>